        * {
            margin: 0;
            padding: 0;
        }
        /*Header*/
        
        #navbar {
            display: flex;
            position: sticky;
            align-items: center;
            top: 0;
        }
        
        #navbar::before {
            content: "";
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.7;
        }
        
        #navbar ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
            justify-content: center;
        }
        
        #navbar ul li a {
            padding: 10px 20px;
            margin: 10px 10px;
            color: white;
            font-size: 1.3rem;
            border-radius: 10px;
        }
        
        #navbar ul li a:hover {
            background-color: white;
            color: black;
        }
        
        #navbar img {
            height: 75pox;
            width: 75px;
        }
        /*Home*/
        
        #home {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px 20px;
            padding-top: 50px;
        }
        
        #home::before {
            content: "";
            background: url('bg2.jpg');
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.7;
        }
        
        #home p {
            margin: 10px;
        }
        /*Services*/
        
        .service {
            margin: 40px;
        }
        
        .service-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .box {
            border: 2px solid rgb(107, 99, 99);
            border-radius: 10px;
            margin: 30px 50px;
            padding: 10px 20px;
            cursor: pointer;
        }
        
        .service img {
            height: 200px;
            width: 200px;
            display: block;
            margin: auto;
            border-radius: 23px;
        }
        /*Client*/
        
        .clients {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .clients img {
            height: 200px;
            width: 200px;
            margin: 20px;
            padding: 20px;
        }
        /*Contact*/
        
        .reachus {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
        .reachus::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.7;
            background: url('contact.jpg') no-repeat center center/cover;
        }
        
        .address,
        .contact {
            margin: 10px;
            padding: 29px 176px;
            font-size: 1.4rem;
        }
        
        .contact input,
        .contact textarea {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin: 0.4rem;
            border-radius: 3px;
            font-size: 1.1rem;
        }
        
        .contact label {
            font-size: 1.3rem;
        }
        
        footer {
            background: black;
            color: white;
            padding: 9px 20px;
        }
        /*Constant Elements*/
        
        a {
            text-decoration: none;
        }
        
        .h-primary {
            font-size: 2.3rem;
        }
        
        .h-secondary {
            font-size: 1.8rem;
        }
        
        .para-text {
            font-size: 1.2rem;
        }
        
        .center {
            text-align: center;
        }
        
        .btn {
            padding: 8px;
            color: white;
            background-color: black;
            border-radius: 10px;
        }
        
        .btn:hover {
            color: black;
            background-color: white;
        }
