#navbar {
    flex-direction: column;
}

#navbar img {
    height: 50px;
    width: 50px;
}

#navbar ul li a {
    padding: 1px 0px;
    font-size: 1rem;
    border-radius: 1px;
}

#home {
    padding: 24px 2px;
    text-align: center;
}

#home p {
    margin: 4px;
}

#home::before {
    height: 1320px;
}

.service-container {
    flex-wrap: wrap;
}

.clients {
    flex-wrap: wrap;
}

.reachus {
    flex-direction: column;
}

.address,
.contact {
    margin: 5px;
    padding: 28px 62px;
    font-size: 1.2rem;
}

.contact input,
.contact textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin: rem;
    border-radius: 3px;
    font-size: 1.1rem;
}

.h-primary {
    font-size: 1.8rem;
}

.h-secondary {
    font-size: 1.3rem;
}

.para-text {
    font-size: 1rem;
}

.btn {
    padding: 4px;
    color: white;
    background-color: black;
    border-radius: 2px;
}
